<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EmoVision</title>
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="../static/styles/base.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>
  
  <body class="preload">
    
    <!-- Header -->
    <header class="header">
      <button class="header__button" id="btnNav" type="button">
        <i class="fa-solid fa-bars"></i>
      </button>
      <img id="logo" src="/static/favicon.png" alt="logo" onclick="window.location.replace('/')" style="cursor:pointer"  />
      <span id="title" onclick="window.location.replace('/')" style="cursor:pointer" ><i>EmoVision</i></span>
    </header>
    <!-- Header -->
    
    <!-- Navigation Links -->
    <nav class="nav">
      <div class="nav__links">
        <a href="/" class="nav__link" id="home">
          <i class="fa-solid fa-house"></i>
          Home
        </a>
        <a href="/desktop" class="nav__link" id="desktop">
          <i class="fa-solid fa-desktop"></i></i>
          Desktop
        </a>
        <a href="/howto" class="nav__link" id="how_to">
          <i class="fa-solid fa-person-chalkboard"></i>
          How To
        </a>
        <a href="/config" class="nav__link" id="custom_config">
          <i class="fa-solid fa-sliders"></i>
          Configuration
        </a>
        <a href="/aboutme" class="nav__link" id = "about_me">
          <i class="fa-solid fa-address-card"></i>
          About Me
        </a>
      </div>
      <div id="overlay"></div>
    </nav>
    <!-- To store Cookies in browser -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <!-- Get our base script -->
    <script src="../static/scripts/base.js"></script>
    <!-- Icons -->
    <script
      src="https://kit.fontawesome.com/a7cea1fce8.js"
      crossorigin="anonymous"
    ></script>

    {% block content %} {% endblock %}

  </body>
</html>
