{% extends 'base.html'%}{% block content %}
<link rel="stylesheet" href="../static/styles/config.css" />
<h3>Terminology</h3>
<ul>
  <li>' . ' for short vibrations</li>
  <li>' - ' for long vibrations</li>
  <li>' ' for no vibration vibrations</li>
</ul>
<!-- <div>sfdalk</div> -->
<span>Choose an Emotion:</span>

<select name="cus_emotion" id="emotion">
  <option value="happy">Happy</option>
  <option value="neutral">Neutral</option>
  <option value="angry">Angry</option>
  <option value="sad">Sad</option>
  <option value="surprise">Surprise</option>
  <option value="fear">Fear</option>
  <option value="disgust">Disgust</option>
</select>

<form>
  <input type="text" id="code" />
  <button onclick="set_code()">Set</button>
</form>
<br />
<br />
<span>Choose a Language:</span>
<select name="lang" id="lang">
  <option value="en">English</option>
  <option value="es">Spanish</option>
  <option value="fr">French</option>
  <option value="ar">Arabic</option>
  <option value="ru">Russian</option>
  <option value="hi">Hindi</option>
  <option value="te">Telugu</option>
  <option value="ta">Tamil</option>
</select>

  <button onclick="set_lang()">Set</button>

<br />
<br />
<button onclick="default_all()">Reset to defaults</button>

<!-- To store Cookies in browser -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="../static/scripts/config.js"></script>
{% endblock %}
